#main_content {
  font-size: 160px !important;
  line-height: 1.6 !important; /* adjust text readability */
}

#main_content p {
  font-size: 106px !important;
  margin-bottom: 1em !important;
}

